---
import Layout from '../layouts/Layout.astro';
import {Navbar} from '../components/navbar'
import Hero from '../components/Hero.astro'
import {WhoWeAre} from '../components/who-we-are'
import {JoinUs} from '../components/join-us'
import {Footer} from "@/components/footer.tsx";
---

<Layout title="Pallavolo Cologno Monzese | Black Bulls Volley ASD"
        description="Vivi la pallavolo con i Black Bulls Volley di Cologno Monzese. Passione, crescita e spirito di squadra dal settore giovanile alla Serie D.">
    <header>
        <Navbar client:load/>
    </header>
    <main class="pt-20 md:pt-10">
        <Hero/>
        <WhoWeAre/>
        <JoinUs/>
    </main>
    <footer>
        <Footer/>
    </footer>
</Layout>
