---
import Layout from '../layouts/Layout.astro';
import {Navbar} from '../components/navbar'
import Hero from '../components/Hero.astro'
import {WhoWeAre} from '../components/who-we-are'
import {JoinUs} from '../components/join-us'
import {Footer} from "@/components/footer.tsx";
---

<Layout>
    <header>
        <Navbar client:load/>
    </header>
    <main>
        <Hero/>
        <WhoWeAre/>
        <JoinUs/>
    </main>
    <footer>
        <Footer/>
    </footer>
</Layout>
