---
import Layout from '../layouts/Layout.astro';
import {Navbar} from '../components/navbar'
import {Footer} from "@/components/footer.tsx";
import {PrivacyPolicy} from "@/components/privacy-policy.tsx";
---

<Layout title="Privacy Policy | Black Bulls Volley" description="Visualizza la nostra Privacy Policy.">
    <header>
        <Navbar client:load/>
    </header>
    <main class="pt-20 md:pt-10">
        <PrivacyPolicy/>
    </main>
    <footer>
        <Footer/>
    </footer>
</Layout>
